*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: "Roboto", sans-serif;
	color: rgb(255, 255, 255);
	font-size: 2rem;
	background-image: linear-gradient(315deg, #c2118d 0%, #ff503c 74%);
}
.wrapper {
	width: 800px;
	margin-top: 50px;
	background-image: linear-gradient(315deg, #10343a 0%, #180601 74%);
	border-radius: 20px;
	border: 1px solid;
	overflow: hidden;
	padding: 1em;
}
.top {
	width: 100%;
	height: 300px;
	&__title {
		text-align: center;
		color: #ca8e8e;
		font-size: 4rem;
		text-transform: uppercase;
		margin-bottom: 0.6em;
	}
	&__main {
		display: flex;
		width: 100%;
		height: 300px;
	}
	&__main-left,
	&__main-right {
		display: flex;
		width: 50%;
		height: 100%;
		flex-direction: column;
		justify-content: start;
		align-items: center;
	}
	&__city-name {
		font-size: 4rem;
		margin-bottom: 0.4em;
	}
	&__input {
		padding: 0.6em 1.2em;
		margin-bottom: 1em;
		border-radius: 20px;
		font-size: 2rem;
		border: none;
		background: none;
		color: #2892a5;
		border-bottom: 1px solid white;
	}
	&__send-btn {
		padding: 0.6em 1.2em;
		border-radius: 2em;
		width: 30%;
		cursor: pointer;
		transition: color 0.3s, background-color 0.3s;
		border: none;
		background: none;
		color: #2892a5;
		border-bottom: 1px solid white;
	}
	&__send-btn:hover {
		color: white;
		background-color: rgb(228, 38, 38);
	}
}
.image {
	width: 90%;
	height: 90%;
	object-fit: contain;
	padding: 1em;
}

.bottom {
	height: 200px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	border-radius: 5px;
}
.properties,
.results {
	display: flex;
	justify-content: space-around;
	text-align: center;
}
.properties {
	width: 100%;
	height: 50px;
	border-top: 3px solid rgb(17, 158, 64);
	border-bottom: 3px solid rgb(34, 199, 47);
}
.results {
	height: 150px;
	width: 100%;
}
.info {
	font-size: 3rem;
	text-align: center;
	color: #ffd900;
	line-height: 50px;
	width: 150px;
}
.info2 {
	text-align: center;
	font-size: 5rem;
	line-height: 150px;
	width: 150px;
}
